[user]
	email = pporada@letsencrypt.org
	name = Phil Porada
	signingkey = D7E4296E

[gpg]
    program = qubes-gpg-client-wrapper

[commit]
    gpgsign = true

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[difftool]
    prompt = false

#[push]
#	gpgsign = true

[alias]
    pickle-that = "!git commit --amend -m \"$(git log --format=%s -n1) 🥒\" -m \"$(echo)$(git log --format=%b -n1)\""
    put-a-bird-on-it = "!git commit --amend -m \"$(git log --format=%s -n1) 🐦\" -m \"$(echo)$(git log --format=%b -n1)\""
