[user]
    email = pporada@greenlancer.com
    name = Phil Porada
	signingkey = C2E660AD9DD4F728

# https://github.com/building5/ansible-vault-tools
#[diff "ansible-vault"]
#    textconv = ansible-vault view
#    # Do not cache the vault contents
#    cachetextconv = false

# https://github.com/building5/ansible-vault-tools
#[merge "ansible-vault"]
#    name = ansible-vault merge driver
#    driver = /usr/local/bin/ansible-vault-merge -- %O %A %B %P


[filter "ansible-vault"]
    smudge = ~/.bin/smudge_vault.sh
    clean  = ~/.bin/clean_vault.sh

[diff "ansible-vault"]
    textconv = ~/.bin/diff_vault.sh
    # Do not cache the vault contents
    cachetextconv = false
